@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
  --card: #f6f6f6;
  --card-1: #eeeeee;
  --foreground-1: #0a0a0a;
  --border: #e2e8f0;
  --accent: #2e71e2;
  --accent-hover: #2b67cf;
  --accent-foreground: #ffffff;
}

.dark {
  --background: #111111;
  --foreground: #ffffff;
  --card: #1a1a1a;
  --card-1: #2a2a2a;
  --foreground-1: #f5f5f5;
  --border: #282828;
  --accent: #2e71e2;
  --accent-hover: #2b67cf;
  --accent-foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-1: var(--card-1);
  --color-foreground-1: var(--foreground-1);
  --color-border: var(--border);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --font-primary: var(--font-primary);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-primary) sans-serif;
}
